bin/

obj/

*.user

.vs/

*.rar

*.7z

publish/

artifacts/

_installer_test/

startup_log.txt
build-release.log
*.log



# Internal AI / Prompt files

.mimocode/
PLANS.md
RELEASE_READINESS_EXECPLAN.md

AiteBar/codex_instructions_fixes_r5.md

AiteBar/codex_release_code_review_prompt.md

AiteBar/ui_parameters.md

*.zip

*.pfx

coverage-report/
TestResults/
icon-picker/
icons/
site/


